@charset "UTF-8";
/* VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit&family=Roboto+Condensed:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #000000;
}

body {
  position: relative;
  max-width: 100vw;
  padding-bottom: 150px;
  background-color: #000000; /* Altura del footer */
}

h1 {
  color: #F7EFEF;
}

a {
  text-decoration: none;
  color: #F7EFEF;
  padding: 0% 20px;
}
a:hover {
  color: #F7EFEF;
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10%;
  align-items: center;
  position: sticky;
  top: 0;
}
header .navbar .logoPrincipal {
  width: 120px;
  cursor: pointer;
}
header .navbar ul {
  list-style: none;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}
header .navbar ul li {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
header .navbar ul li a {
  text-decoration: none;
  color: #F7EFEF;
  padding: 0% 20px;
}
header .navbar ul li a:hover {
  color: #F7EFEF;
  text-decoration: underline;
}

footer {
  padding: 20px 0px;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
footer .containerFooter {
  display: flex;
  flex-direction: column;
}
footer .containerFooter .containerIcons a {
  padding: 0px 5px;
}
footer .containerFooter .containerIcons a .iconsSocialMedia {
  width: 20px;
}
footer .containerFooter .footerTermsAndConditions {
  font-size: 13px;
  color: #F7EFEF;
  padding: 0;
}
footer .containerFooter .footerTermsAndConditions a {
  /* height: 5px;  */
  /* Ajusta el valor según tus necesidades */
  /* Otros estilos opcionales */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1px 10px;
  text-decoration: none;
  color: #F7EFEF;
}

main .containerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  text-transform: uppercase;
  padding: 40px 0px;
}
main .containerMain .containerSlogan {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
main .containerMain h1 {
  color: #F7EFEF;
}
main .containerMain .buttonContainer {
  display: flex;
  flex-direction: row;
}
main .containerMain .buttonContainer div {
  padding: 40px 20px;
}
main .containerMain .buttonContainer div .buttonReserva {
  padding: 0 10px;
  background-color: #D7633E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 800;
  font-size: 50px;
  color: #F7EFEF;
}
main .containerMain .buttonContainer div .buttonCarta {
  width: 200px;
  padding: 0 35px;
  background-color: #D7633E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 800;
  font-size: 50px;
  color: #F7EFEF;
}

/*  */
/* CARTA */
/* HEADER */
/* */
.headerCarta {
  display: flex;
  flex-direction: column;
}

/*  */
/* MAIN PAGINAS*/
/* */
main .containerCarta {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
main .containerCarta .dish {
  display: flex;
  flex-direction: row;
  font-family: "Outfit", sans-serif;
  color: #F7EFEF;
  font-size: 25px;
  padding: 10px 0px;
  width: 430px;
}
main .containerCarta .dish .imgMaki {
  width: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
main .containerCarta .dish .dishDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 4px;
}
main .containerCarta .dish .dishDetail h2 h6 {
  margin: auto;
}
main .containerCarta .dish .dishDetail h3 {
  margin: 0px 0px;
  background-color: #D7633E;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*  */
/* RESERVA */
/*  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Outfit", sans-serif;
  margin-bottom: 50px;
}
main .imagenReserva {
  margin-top: 50px;
  width: 200px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
main .containerForm {
  max-width: 400px;
  margin-top: 20px;
  align-items: center;
  padding: 20px;
  border: 10px inset #596c55;
  border-radius: 5px;
}
main .containerForm .formulario {
  margin-bottom: 20px;
}
main .containerForm .formulario .classForm {
  color: #F7EFEF;
  margin-bottom: 5px;
  font-size: 19px;
  font-weight: bolder;
}
main .containerForm .formulario input[type=text],
main .containerForm .formulario input[type=number],
main .containerForm .formulario input[type=email],
main .containerForm .formulario input[type=date] {
  width: 100%;
  padding: px;
  border: 3px outset #676e3a;
  border-radius: 3px;
  margin-bottom: 10px;
  color: #F7EFEF;
}
main .containerForm .divBotones {
  text-align: center;
}
main .containerForm .divBotones button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #D7633E;
  color: #F7EFEF;
  font-weight: 500;
  margin-right: 10px;
}

/*  */
/* CONTACTO */
/*  */
main .containerContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F7EFEF;
}
main .containerContacto .detallesContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .containerContacto h5 {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: #d3caa3 2px solid;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .containerContacto .horarios {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .containerContacto h2 {
  padding-top: 10px;
  padding-bottom: 20px;
}

/*  */
/* CHEF */
/*  */
main .containerChef {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #F7EFEF;
}
main .containerChef .chef {
  padding: 0px 20px;
}
main .containerChef .chef .imagenChef {
  width: 290px;
}
main .containerChef .dedicatoria {
  min-height: 383.7px;
  max-width: 500px;
}
main .containerChef .dedicatoria h2 {
  padding-bottom: 40px;
}
main .containerChef .dedicatoria p {
  padding-bottom: 50px;
  font-size: 15px;
}
main .containerChef .dedicatoria h3 {
  padding-bottom: 15px;
  font-size: 25px;
}
main .containerChef .dedicatoria .imagenFirma {
  width: 100px;
}

/*  */
/* SOBRE NOSOTROS */
/*  */
main .containerSobreNoso {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  max-width: 500px;
  color: #F7EFEF;
}
main .containerSobreNoso h1 {
  padding: 20px 0px;
}
main .containerSobreNoso p {
  padding: 10px 0px;
}

.headerPoTe {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: start;
  position: sticky;
  top: 0;
}
.headerPoTe .logoPoTe {
  width: 200px;
  cursor: pointer;
}

.containerPoTe {
  display: flex;
  flex-direction: column;
  color: #F7EFEF;
  justify-items: center;
  align-items: center;
  max-width: 800px;
  line-height: 1.5;
  text-align: justify;
}
.containerPoTe h1 {
  padding-bottom: 20px;
}
.containerPoTe .parrafo-estilo {
  font-weight: 800;
}

/*  */
/* Diseño responsive */
/*  */
.nav-link {
  color: #F7EFEF;
}

.custom-list {
  display: flex;
  justify-content: flex-end;
  /* Ajusta el ancho según tus necesidades */
  width: 100%;
  align-items: center;
}

/* Diseño responsive Index */
@media screen and (max-width: 500px) {
  .logoGrande {
    width: 300px;
  }
  .logoPrincipal {
    width: 90px;
  }
  .containerSloganText {
    font-size: 20px;
    width: auto;
  }
  .buttonReserva {
    padding: 0 22px;
    background-color: #D7633E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 800;
    font-size: 25px;
    color: #F7EFEF;
  }
  .buttonCarta {
    width: 200px;
    padding: 0 30px;
    background-color: #D7633E;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 800;
    font-size: 25px;
    color: #F7EFEF;
  }
}
/* Diseño responsive Carta */
@media screen and (max-width: 700px) {
  .headerCarta {
    display: flex;
    flex-direction: row;
  }
  .logoText {
    width: 240px;
  }
  .imgMaki {
    width: 200px;
  }
  .tittleDish {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .content {
    font-size: 15px;
    text-align: center;
    padding: 0px 0px 20px 0px;
  }
  .dish {
    display: flex;
    flex-direction: column;
  }
  .dishImg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chef {
    padding: 0px 0px 20px 0px;
  }
  .imagenChef {
    width: 200px;
  }
  .containerChef {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dedicatoria {
    text-align: center;
  }
  .logoPoTe {
    width: 120px;
  }
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: 0.1px solid #F7EFEF;
}

/* VARIABLES */

/*# sourceMappingURL=styles.css.map */
