header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10%;
    align-items: center;
    position: sticky;
    top: 0;
    .navbar{
        .logoPrincipal{
            width: 120px;
            cursor: pointer;
        }
        ul{
            list-style: none;
            font-family: 'Bebas Neue', sans-serif;
            margin: 0;
            li{
                display: inline-block;
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: $text-color;
                    padding: 0% 20px;
                
                    &:hover {
                        color: $text-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}