/*  */
/* RESERVA */
/*  */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 50px;
    .imagenReserva {
        margin-top: 50px;
        width: 200px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
    .containerForm {
        max-width: 400px;
        margin-top: 20px;
        align-items: center;
        padding: 20px;
        border: 10px inset $border-reserva;
        border-radius: 5px;
        .formulario {
            margin-bottom: 20px;
            .classForm {
                color: $text-color;
                margin-bottom: 5px;
                font-size: 19px;
                font-weight: bolder;
            }
            input[type="text"],
            input[type="number"],
            input[type="email"],
            input[type="date"] {
                width: 100%;
                padding: px;
                border: 3px outset $border-reserva-interior;
                border-radius: 3px;
                margin-bottom: 10px;
                color: $text-color;
            }
        }
        .divBotones {
            text-align: center;
        
            button {
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
                background-color: $background-button;
                color: $text-color;
                font-weight: 500;
                margin-right: 10px;
            }
        }
    }
}









