/*  */
/* SOBRE NOSOTROS */
/*  */
main{
    .containerSobreNoso{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        text-align: center;
        max-width: 500px;
        color: #F7EFEF;
        h1{
            padding: 20px 0px;
        }
        p{
            padding: 10px 0px;
        }
    } 
}
