/*  */
/* SOBRE NOSOTROS */
/*  */
main{
    .containerSobreNoso{
        @include flex-direction-justify-align;
        max-width: 500px;
        color: $text-color;
        h1{
            padding: 20px 0px;
        }
        p{
            padding: 10px 0px;
        }
    } 
}
